.name{
    background-color: yellow;
    color: black;
    border:2px solid black;
    margin: 20px;
    padding: 20px;
}
.secciones{
    background-color: yellow;
    color: black;
    border:5px solid black;
    margin: 20px;
    padding: 20px;
}